#------------------------------------------------------------------------------
# EditorConfig is awesome (editorconfig.org).
#
# root: don't check above this folder.
root = true
#------------------------------------------------------------------------------
# Some projects have this, but it's not a good idea when working
# cross-platform. Linux needs LF to work properly.
#[*]
#end_of_line = crlf
#------------------------------------------------------------------------------
# Hipster 3-space indentation for most code.
[*.py, *.js, *.css]
indent_style = space
indent_size  = 3
#------------------------------------------------------------------------------
# I would prefer 3-space tabs here too, but the Google Apps Script editor is
#  too picky.
[*.gs]
indent_style = space
indent_size  = 2
